<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="HandheldFriendly" content="True">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" href="https://cloud.typography.com/7025996/6018792/css/fonts.css">

    <style>
      @font-face{
        font-family: 'Fira Code';
        src: url("{{asset "fonts/eot/FiraCode-Light.eot"}}");
        src: url("{{asset "fonts/eot/FiraCode-Light.eot"}}") format('embedded-opentype'),
             url("{{asset "fonts/woff2/FiraCode-Light.woff2"}}") format('woff2'),
             url("{{asset "fonts/woff/FiraCode-Light.woff"}}") format('woff'),
             url("{{asset "fonts/ttf/FiraCode-Light.ttf"}}") format('truetype');
        font-weight: 300;
        font-style: normal;
      }

      @font-face{
          font-family: 'Fira Code';
          src: url("{{asset "fonts/eot/FiraCode-Regular.eot"}}");
          src: url("{{asset "fonts/eot/FiraCode-Regular.eot"}}") format('embedded-opentype'),
               url("{{asset "fonts/woff2/FiraCode-Regular.woff2"}}") format('woff2'),
               url("{{asset "fonts/woff/FiraCode-Regular.woff"}}") format('woff'),
               url("{{asset "fonts/ttf/FiraCode-Regular.ttf"}}") format('truetype');
          font-weight: 400;
          font-style: normal;
      }

      @font-face{
          font-family: 'Fira Code';
          src: url("{{asset "fonts/eot/FiraCode-Medium.eot"}}");
          src: url("{{asset "fonts/eot/FiraCode-Medium.eot"}}") format('embedded-opentype'),
               url("{{asset "fonts/woff2/FiraCode-Medium.woff2"}}") format('woff2'),
               url("{{asset "fonts/woff/FiraCode-Medium.woff"}}") format('woff'),
               url("{{asset "fonts/ttf/FiraCode-Medium.ttf"}}") format('truetype');
          font-weight: 500;
          font-style: normal;
      }

      @font-face{
          font-family: 'Fira Code';
          src: url("{{asset "fonts/eot/FiraCode-Bold.eot"}}");
          src: url("{{asset "fonts/eot/FiraCode-Bold.eot"}}") format('embedded-opentype'),
               url("{{asset "fonts/woff2/FiraCode-Bold.woff2"}}") format('woff2'),
               url("{{asset "fonts/woff/FiraCode-Bold.woff"}}") format('woff'),
               url("{{asset "fonts/ttf/FiraCode-Bold.ttf"}}") format('truetype');
          font-weight: 700;
          font-style: normal;
      }
    </style>

    <link rel="stylesheet" href="{{asset "styles/main.css"}}">

    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    <!--[if lt IE 10]>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div container>
      {{{body}}}
    </div>

    <footer class="main-footer" container>
      <p>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">James Kolce</a></p>
    </footer>

    {{ghost_foot}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
    <script src="{{asset "scripts/highlight.js"}}"></script>

    <script>
      hljs.initHighlightingOnLoad();

      var headingAnchors = new AnchorJS({
        placement: 'left',
        icon: 'ยง'
      });

      headingAnchors.add('.post-content h2, .post-content h3');
    </script>

    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-54774632-3','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
