<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="HandheldFriendly" content="True">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <script src="https://use.typekit.net/ylo0ayf.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <style>
      @font-face{
        font-family: 'Fira Code';
        src: url("{{asset "fonts/eot/FiraCode-Light.eot"}}");
        src: url("{{asset "fonts/eot/FiraCode-Light.eot"}}") format('embedded-opentype'),
             url("{{asset "fonts/woff2/FiraCode-Light.woff2"}}") format('woff2'),
             url("{{asset "fonts/woff/FiraCode-Light.woff"}}") format('woff'),
             url("{{asset "fonts/ttf/FiraCode-Light.ttf"}}") format('truetype');
        font-weight: 300;
        font-style: normal;
      }

      @font-face{
          font-family: 'Fira Code';
          src: url("{{asset "fonts/eot/FiraCode-Regular.eot"}}");
          src: url("{{asset "fonts/eot/FiraCode-Regular.eot"}}") format('embedded-opentype'),
               url("{{asset "fonts/woff2/FiraCode-Regular.woff2"}}") format('woff2'),
               url("{{asset "fonts/woff/FiraCode-Regular.woff"}}") format('woff'),
               url("{{asset "fonts/ttf/FiraCode-Regular.ttf"}}") format('truetype');
          font-weight: 400;
          font-style: normal;
      }

      @font-face{
          font-family: 'Fira Code';
          src: url("{{asset "fonts/eot/FiraCode-Medium.eot"}}");
          src: url("{{asset "fonts/eot/FiraCode-Medium.eot"}}") format('embedded-opentype'),
               url("{{asset "fonts/woff2/FiraCode-Medium.woff2"}}") format('woff2'),
               url("{{asset "fonts/woff/FiraCode-Medium.woff"}}") format('woff'),
               url("{{asset "fonts/ttf/FiraCode-Medium.ttf"}}") format('truetype');
          font-weight: 500;
          font-style: normal;
      }

      @font-face{
          font-family: 'Fira Code';
          src: url("{{asset "fonts/eot/FiraCode-Bold.eot"}}");
          src: url("{{asset "fonts/eot/FiraCode-Bold.eot"}}") format('embedded-opentype'),
               url("{{asset "fonts/woff2/FiraCode-Bold.woff2"}}") format('woff2'),
               url("{{asset "fonts/woff/FiraCode-Bold.woff"}}") format('woff'),
               url("{{asset "fonts/ttf/FiraCode-Bold.ttf"}}") format('truetype');
          font-weight: 700;
          font-style: normal;
      }
    </style>

    <link rel="stylesheet" href="{{asset "styles/main.css"}}">

    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML" async></script>

    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    <!--[if lt IE 10]>
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div container>
      {{{body}}}
    </div>

    <footer class="main-footer">
      <p>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></p>
    </footer>

    {{ghost_foot}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>
    <script src="{{asset "scripts/highlight.js"}}"></script>
    <script src="{{asset "scripts/hyphenator.js"}}"></script>
    <script src="{{asset "scripts/en-us.js"}}"></script>

    <script>
      hljs.initHighlightingOnLoad();

      var headingAnchors = new AnchorJS({
        placement: 'left',
        icon: '§'
      });

      var paragraphAnchors = new AnchorJS({
        placement: 'left',
        icon: '¶'
      });

      headingAnchors.add('.post-content h2, .post-content h3');
      paragraphAnchors.add('.post-content p:not(._no-pilcrow)');

      /*
      *  Hyphenator_Loader 5.2.0(devel) - client side hyphenation for webbrowsers
      *  Copyright (C) 2015  Mathias Nater, Zürich (mathiasnater at gmail dot com)
      *  https://github.com/mnater/Hyphenator
      *
      *  Released under the MIT license
      *  http://mnater.github.io/Hyphenator/LICENSE.txt
      */

      var Hyphenator_Loader=(function(window){'use strict';var languages,config,path,createElem=function(tagname){var r;if(window.document.createElementNS){r=window.document.createElementNS('http://www.w3.org/1999/xhtml',tagname);}else if(window.document.createElement){r=window.document.createElement(tagname);}return r;},loadNrunHyphenator=function(config){var head,script,done=false;head=window.document.getElementsByTagName('head').item(0);script=createElem('script');script.src=path;script.type='text/javascript';script.onreadystatechange=function(){if(!done&&(!script.readyState||script.readyState==="loaded"||script.readyState==="complete")){done=true;Hyphenator.config(config);Hyphenator.run();script.onreadystatechange=null;script.onload=null;if(head&&script.parentNode){head.removeChild(script);}}};script.onload=script.onreadystatechange;head.appendChild(script);},checkLangSupport=function(){var shadowContainer,shadow,lang,fakeBdy=createElem('body');shadowContainer=createElem('div');shadowContainer.style.visibility='hidden';fakeBdy.appendChild(shadowContainer);window.document.documentElement.appendChild(fakeBdy);for(lang in languages){if(languages.hasOwnProperty(lang)){shadow=createElem('div');shadow.style.MozHyphens='auto';shadow.style['-webkit-hyphens']='auto';shadow.style['-ms-hyphens']='auto';shadow.style.hyphens='auto';shadow.style.width='5em';shadow.style.lineHeight='12px';shadow.style.border='none';shadow.style.padding='0';shadow.style.wordWrap='normal';shadow.style['-webkit-locale']="'"+lang+"'";shadow.lang=lang;shadow.appendChild(window.document.createTextNode(languages[lang]));shadowContainer.appendChild(shadow);if(shadow.offsetHeight===12){loadNrunHyphenator(config);break;}}}fakeBdy.parentNode.removeChild(fakeBdy);};return{init:function(langs,p,configs){languages=langs;path=p;config=configs||{};checkLangSupport();}};}(window));Hyphenator_Loader.init({"en":"hyphenationalgorithm"},"/assets/scripts/hyphenator.js",{useCSS3hyphenation:true});
    </script>

    <script>
      console.log(Hyphenator_Loader);

      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-54774632-7','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
