{{!< default}}

<header class="main-header -home">
  <h1 class="logo">{{@blog.title}}</h1>

  <nav class="main-nav">
    {{navigation}}
  </nav>
</header>

<main role="main" grid>
  <nav column="3" class="tag-index">
    <h3 class="heading">Series</h3>
    <ul class="list">
      {{#get "tags" limit="all"}}
        {{#foreach tags}}
          <li><a href="{{url absolute="true"}}" title="{{name}}">{{name}}</a></li>
        {{/foreach}}
      {{/get}}
    </ul>
  </nav>

  <section class="_m0" column="9">
    {{> loop}}
  </section>
</main>

{{pagination}}
