{{!< default}}

<nav class="main-header">
  <a href="{{@blog.url}}" class="logo">{{@blog.title}}</a>
</nav>

{{#post}}
  <article class="{{post_class}}">
    <header class="post-header">
      <h1 class="heading">{{title}}</h1>

      <section class="post-meta">
        <time class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
        <span>—</span>
        <span class="tags">{{tags}}</span>
      </section>
    </header>

    <section class="post-content hyphenate" grid>
      <div column="9 +3">
        {{content}}
      </div>
    </section>

  </article>
{{/post}}
